// Place all the styles related to the calculations controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.answer, .hourly_answer, .daily_answer {
  display: none;
}

#preferences {
  max-width: 300px;
  margin: 0 auto;
  input, label {
    float: left;
    color: #3d3d3d;
  }
  label {
    margin-right: 2em;
  }
}

.patient {
  font-size: 2em;
  li {
    margin-top: 1em;
  }
}

.hourly_answer, .daily_answer {
  margin-left: 1em;
  text-align: left;
  line-height: 1.5;
}

#next_problem {
  text-align: right;
  a {
    font-weight: bold;
    text-transform: uppercase;
  }
}

.total {
  font-size: 1.6em;
}

.explanation {
  font-size: 0.7em;
  color: #A97864;
}